.slider {
	padding-top: 16px;

	@media screen and (min-width: 768px) and {
		padding-top: 30px;
	}
}

.slider-thumb {
	position: relative;
	display: flex;
}

.slide {
	position: relative;
	opacity: 0;
	z-index: 1;
	width: calc(100vw - 49px);
	margin: 0 auto;
	transition: transform 5s linear;
	max-width: 1028px;

	@media screen and (min-width: 768px) and (max-width: 1000px) {
		width: calc(100vw - 90px);
	}
}

.active {
	display: block;
	opacity: 1;
	transform: translateX(0);
}

.prev {
	display: none;
	transform: translateX(-100%);
}

.next {
	display: none;
	transform: translateX(100%);
}

.slider-img {
	width: 100%;
	display: block;
	object-fit: contain;
}

.slider-btn {
	position: absolute;
	z-index: 10;
	top: 50%;
	transform: translateY(-50%);
	padding: 14px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.arrow-left {
	left: 21px;

	@media screen and (min-width: 768px) {
		left: 50px;
	}
}

.arrow-right {
	right: 21px;

	@media screen and (min-width: 768px) {
		right: 50px;
	}
}